<section class="content">
    <div class="search">
        <input type="text" id="search-input" >
        <span class="floating-label">Search...</span>
    </div>

    <div id="data-table"></div>


</section>
